.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--grey-color-social);

  &:hover,
  &:focus {
  background-color: var(--blue-color);
}
  & {
  display: flex;
}

}


.social-icon {
fill: white; 
}

